.app_title {
	font-size: 60px;
	text-align: center;
}
.app_version {
	font-size: 14px;
	text-align: center;
}

.main_new{
	margin-top: 4em;
}
.main_continue{
	margin-top: 6em;
}

.battle-log-name{
	font-size: 18px;
    font-weight: bold;
}
.battle-log-critical{
	font-size: 22px;
    font-weight: bold;
}
.battle-log-damage{
	font-size: 30px;
    font-weight: bold;
}
.battle-log-result{
	font-size: 30px;
    font-weight: bold;
}

.progress-bar-exp{
	background-color:#f39c12
}
.progress-bar-health{
	background-color:#00bc8c
}
.progress-bar-mana{
	background-color:#3498db
}