@(pname:String, desp:String, pl:Charactor)

@implicitFieldConstructor = @{ helper.FieldConstructor(loginInput.render) }

@percent(a:Double,b:Double) = @{
	100.0 * a / b
}

@main(Application.appTitle) {

    <div class="jumbotron">
      <h1>@pname</h1>
      <p>@Html(desp)</p>
    </div>
    
<div class="row">
<div class="col-xs-8 col-lg-offset-2">

<ul class="nav nav-tabs">
  <li class="active"><a href="#action" data-toggle="tab">行動</a></li>
  <li class=""><a href="#stats" data-toggle="tab">ステータス</a></li>
  <li class=""><a href="#system" data-toggle="tab">システム</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="action">
    <p>さくせいちゅう</p>
  </div>
  <div class="tab-pane fade" id="stats">
    <h2>@pl.name</h2>
    <p>レベル: @pl.level <small>(Exp: @{pl.exp}/@{pl.getNextExp()})</small></p>
    <div class="progress">
      <div class="progress-bar progress-bar-exp" style="width: @{percent(pl.getNowExp(),pl.getNowNextExp())}%"></div>
    </div>
    <p>HP: @pl.hp / @pl.mhp</p>
    <div class="progress">
      <div class="progress-bar progress-bar-health" style="width: @{percent(pl.hp,pl.mhp)}%"></div>
    </div>
    <p>MP: @pl.mp / @pl.mmp</p>
    <div class="progress">
      <div class="progress-bar progress-bar-mana" style="width: @{percent(pl.mp,pl.mmp)}%"></div>
    </div>
    <p>ちから:　@pl.str</p>
    <p>きようさ:　@pl.agi</p>
    <p>かんかく:　@pl.sen</p>
    <p>こころ:　@pl.wil</p>
  </div>
  <div class="tab-pane fade" id="system">
    <p>
    <a href="@routes.AuthHero.logoutProcess()" class="btn btn-warning">休暇をとる(ログアウト)</a>
    </p>
    <p>
    <a href="#" class="btn btn-danger">旅をあきらめる</a>
    </p>
  </div>
</div>

</div>
</div>
}
