@(pname:String, desp:String, nexts:Map[String,GamePlace], pl:Charactor)

@implicitFieldConstructor = @{ helper.FieldConstructor(loginInput.render) }

@progress(a:Double,b:Double,s:String) = @{
	parts.hpBar.render(a,b,s)
}

@main(pname+" - "+Application.appTitle) {

    <div class="jumbotron">
      <h1>@pname</h1>
      <p>@Html(desp)</p>
    </div>
    
<div class="row">
<div class="col-xs-8 col-lg-offset-2">

<ul class="nav nav-tabs">
  <li class="active"><a href="#action" data-toggle="tab">こうどう</a></li>
  <li class=""><a href="#stats" data-toggle="tab">ステータス</a></li>
  <li class=""><a href="#system" data-toggle="tab">システム</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="action">
    <p>
  <form name="chg" action="@routes.GameMain.moveProcess()" method="POST">
  <input type="hidden" name="next" value="">
  @if(nexts != null) {
    <h2>いどう</h2>
  @for((pref,goto) <- nexts) {
    <button type="button" class="btn btn-primary" onClick="document.chg.next.value='@goto.place';document.chg.submit();">@pref : @goto.name</button>
  }
  }
  </form>
    </p>
  </div>
  <div class="tab-pane fade" id="stats">
    <h2>@pl.name</h2>
    <p>レベル: @pl.level <small>(Exp: @{pl.exp}/@{pl.getNextExp()})</small></p>
    @progress(pl.getNowExp(),pl.getNowNextExp(),"progress-bar-exp")
    <p>HP: @pl.hp / @pl.mhp</p>
    @progress(pl.hp,pl.mhp,"progress-bar-health")
    <p>MP: @pl.mp / @pl.mmp</p>
    @progress(pl.mp,pl.mmp,"progress-bar-mana")
    <p>ちから:　@pl.str</p>
    <p>きようさ:　@pl.agi</p>
    <p>かんかく:　@pl.sen</p>
    <p>こころ:　@pl.wil</p>
  </div>
  <div class="tab-pane fade" id="system">
    <p>
    <a href="@routes.AuthHero.logoutProcess()" class="btn btn-warning">休暇をとる(ログアウト)</a>
    </p>
    <p>
    <a href="#" class="btn btn-danger">旅をあきらめる</a>
    </p>
  </div>
</div>

</div>
</div>
}
