@(pname:String, desp:String, nexts:Map[String,GamePlace], explores:Map[String,Integer], pl:Charactor)

@implicitFieldConstructor = @{ helper.FieldConstructor(loginInput.render) }

@progress(a:Double,b:Double,s:String) = @{
	parts.hpBar.render(a,b,s)
}
@progressNum(a:Double,b:Double,s:String) = @{
	parts.hpBarNum.render(a,b,s)
}

@showItemWeapon(i:items.Item) = {
	@if(i == null) {
		<span>(なし)</span>
	} else {
		<span class="text-success" rel="eqtip" data-toggle="tooltip" data-placement="right" data-html="true"  title="@Html(i.getDespForTooltip())">@i.getName()</span>
	}
}

@main(pname+" - "+Application.appTitle) {

    @if(flash.contains("success")) {
    <div class="alert alert-dismissable alert-success">
    	<button type="button" class="close" data-dismiss="alert">×</button>
        @flash.get("success")
    </div>
	}
    @if(flash.contains("warning")) {
    <div class="alert alert-dismissable alert-warning">
    	<button type="button" class="close" data-dismiss="alert">×</button>
        @flash.get("warning")
    </div>
	}
    @if(flash.contains("danger")) {
    <div class="alert alert-dismissable alert-danger">
    	<button type="button" class="close" data-dismiss="alert">×</button>
        @flash.get("danger")
    </div>
	}

    <div class="jumbotron">
      <h1>@pname</h1>
      <p>@Html(desp)</p>
    </div>
    
<div class="row">
<div class="col-xs-4 col-lg-offset-2">
    @progressNum(pl.hp,pl.mhp,"progress-bar-health")
</div>
<div class="col-xs-4">
    @progressNum(pl.mp,pl.mmp,"progress-bar-mana")
</div>
</div>

<div class="row">
<div class="col-xs-8 col-lg-offset-2">

<ul class="nav nav-tabs">
  <li class="active"><a href="#action" data-toggle="tab">行動</a></li>
  <li class=""><a href="#item" data-toggle="tab">アイテム</a></li>
  <li class=""><a href="#stats" data-toggle="tab">ステータス</a></li>
  <li class=""><a href="#system" data-toggle="tab">システム</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="action">
    <p>
  <form name="chg" action="@routes.GameMain.moveProcess()" method="POST">
  <input type="hidden" name="next" value="">
  @if(nexts != null) {
    <h2>いどう</h2>
  @for((pref,goto) <- nexts) {
    <button type="button" class="btn btn-primary" onClick="document.chg.next.value='@goto.place';document.chg.submit();">@pref : @goto.name</button>
  }
  }
  </form>
    </p>
    <p>
  <form name="expf" action="@routes.GameMain.eventProcess()" method="POST">
  <input type="hidden" name="choose" value="">
  @if(explores != null && explores.size() >= 1) {
    <h2>しらべる</h2>
  @for((pref,goto) <- explores) {
    <button type="button" class="btn btn-warning" onClick="document.expf.choose.value='@goto';document.expf.submit();">@pref</button>
  }
  }
  </form>
    </p>
  </div>
  <div class="tab-pane fade" id="item">
    <p>
<script>
jQuery(function($){
 $('tr[rel=tooltip]').tooltip();
});
jQuery(function($){
 $('span[rel=tooltip]').tooltip();
});
</script>
<form name="itfm" action="@routes.GameMain.useItemProcess()" method="POST">
<input type="hidden" name="use" value="">
</form>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>名前</th>
      <th>種別</th>
      <th>レア度</th>
      <th>価値</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
  @for(itm <- pl.getItemBox().items) {
    <tr rel="tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="@Html(itm.getDespForTooltip())">
      <td>@itm.getName() <span class="badge">x@itm.num</span></td>
      <td>@itm.getTypeString()</td>
      <td>@Html(itm.getRarityHTML())</td>
      <td>@itm.getPrice()</td>
      <td><button type="button" class="btn btn-primary btn-xs" onClick="document.itfm.use.value='@itm.getId()';document.itfm.submit();">使う</button></td>
    </tr>
  }
  </tbody>
</table>
    </p>
  </div>
  <div class="tab-pane fade" id="stats">
<script>
jQuery(function($){
 $('span[rel=eqtip]').tooltip();
});
</script>
    <h2>@pl.name</h2>
    <p>レベル: @pl.levels <small>(Exp: @{pl.exp}/@{pl.getNextExp()})</small></p>
    @progress(pl.getNowExp(),pl.getNowNextExp(),"progress-bar-exp")
    <p>HP: @pl.hp / @pl.mhp</p>
    @progress(pl.hp,pl.mhp,"progress-bar-health")
    <p>MP: @pl.mp / @pl.mmp</p>
    @progress(pl.mp,pl.mmp,"progress-bar-mana")
    <p>ちから:　@pl.str</p>
    <p>きようさ:　@pl.agi</p>
    <p>かんかく:　@pl.sen</p>
    <p>こころ:　@pl.wil</p>
    <p>所持金:　@pl.money</p>
    <p>
      装備品:
      <ul>
      <li>武器:@showItemWeapon(pl.itemWeapon)</li>
      <li>盾:@showItemWeapon(pl.itemShield)</li>
      <li>防具:@showItemWeapon(pl.itemArmor)</li>
      <li>腕輪:@showItemWeapon(pl.itemRing)</li>
      <li>首飾り:@showItemWeapon(pl.itemAmulet)</li>
      </ul>
    </p>
  </div>
  <div class="tab-pane fade" id="system">
    <p>
    <a href="@routes.AuthHero.logoutProcess()" class="btn btn-warning">休暇をとる(ログアウト)</a>
    </p>
    <p>
    <a href="#" class="btn btn-danger">旅をあきらめる</a>
    </p>
  </div>
</div>

</div>
</div>
}
