@(bol: List[BattleOccur])

@main(Application.appTitle) {
	<ul>
	@for(bo <- bol) {
		@if(bo.occur == BattleOccur.Occur.APPEAR) {
			<li>@bo.target があらわれた！</li>
		}
		@if(bo.occur == BattleOccur.Occur.TURN) {
			<li>(@{bo.amount}ターン目)</li>
		}
		@if(bo.occur == BattleOccur.Occur.ATTACK) {
			<li>@bo.target の攻撃！</li>
		}
		@if(bo.occur == BattleOccur.Occur.DAMAGE) {
			<li>@bo.target に  @bo.amount のダメージ！</li>
		}
		@if(bo.occur == BattleOccur.Occur.MISS) {
			<li>@bo.target は攻撃をかわした！</li>
		}
		@if(bo.occur == BattleOccur.Occur.DIE) {
			@if(bo.side == 0) {
				<li>@bo.target は力尽き倒れた！</li>
			}
			@if(bo.side == 1) {
				<li>@bo.target を倒した！</li>
			}
		}
		@if(bo.occur == BattleOccur.Occur.CRITICALHIT) {
			@if(bo.side == 0) {
				<li>かいしんの一撃！</li>
			}
			@if(bo.side == 1) {
				<li>つうこんの一撃！</li>
			}
		}
		@if(bo.occur == BattleOccur.Occur.FUNBLEHIT) {
			@if(bo.side == 0) {
				<li>しかし攻撃がうまく当たらない！</li>
			}
			@if(bo.side == 1) {
				<li>しかし攻撃がうまく当たらない！</li>
			}
		}
		@if(bo.occur == BattleOccur.Occur.CRITICALBLOCK) {
			@if(bo.side == 0) {
				<li>@bo.target は攻撃をはじいた！</li>
			}
			@if(bo.side == 1) {
				<li>@bo.target は攻撃をはじいた！</li>
			}
		}
		@if(bo.occur == BattleOccur.Occur.END) {
			@if(bo.side == 0) {
				<li>あなたたちはしにました。</li>
			}
			@if(bo.side == 1) {
				<li>まもののむれをやっつけた！</li>
			}
		}
	}
	</ul>
}
